/* Main frame components */
* > #top,
#app,
#ads,
#main,
#nav,
#footer {
  border: solid 1px black;
}
html,
body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
}
#top {
  display: flex;
  width: 100%;
  height: 50px;
  text-align: center;
}
/* INSIDE OF "app" <div> */
#app {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 700px;
}
#ads {
  display: flex;
  width: 10%;
  height: 700px;
  flex-direction: column;
  justify-content: space-around;
  align-content: center;
}
#nav {
  display: flex;
  width: 10%;
  height: 700px;
  flex-direction: column;
  justify-content: space-around;
  align-content: center;
}
#main {
  display: flex;
  width: 80%;
  height: 700px;
}
/* INSIDE OF "app" <div> */

#footer {
  width: 100%;
  height: 50px;
}

/* Main frame components */
/* //////////////////////////////////////// */
/* ////////// MEDIA CONVERSIONS /////////// */

@media (max-width: 768px) {
  #top {
  }
  #app {
    flex-direction: row-reverse;
    height: 750px;
  }
  #main {
    height: 750px;
  }
  #nav {
    transition: 2s;
    order: 1;
    align-self: flex-start;
    height: 750px;
  }
  #nav:hover {
    width: 40%;
    transition: 2s;
  }

  #nav a {
    transition: 2s;
    transform: rotateZ(310deg);
    text-align: center;
  }
  #nav:hover a {
    display: inline-block;
    transition: 2s;
    transform: rotateZ(360deg);
  }

  #ads {
    transition: 2s;
    order: 0;
    align-self: flex-start;
    height: 750px;
  }
  #ads a {
    transition: 2s;
    transform: rotateZ(310deg);
    text-align: center;
  }
  #ads:hover {
    width: 40%;
    transition: 2s;
  }
  #ads:hover a {
    transform: rotateZ(360deg);
  }
  #footer {
  }
}
/* //////////////////////////////////////// */

/* //////////////////////////////////////// */
/* ////////// MEDIA CONVERSIONS /////////// */

@media (max-width: 500px) {
  #top {
    display: none;
  }
  #app {
    display: flex;
    flex-direction: column;
  }
  #main {
    display: flex;
    width: 100%;
    height: 90%;
    flex: 1;
  }
  #nav,
  #ads {
    display: flex;
    width: 100%;
    height: 5%;
    flex-direction: row;
    flex-shrink: 0;
    
  }
  #ads {
    order: 2;
  }
  #nav a,
  #ads a {
    position: relative;
    transform: rotateZ(360deg);
    /* display: none; */
  }

  #nav:hover,
  #ads:hover {
    height: 10%;
    width: 100%;
    transition: 1s;
  }

  #nav:hover a,
  #ads:hover a {
    transition: 1s;
    padding-top:25px;
    color:transparent;
  }

  /* #ads:hover {
  }
  #ads:hover a {
  } */
  #footer {
    flex-shrink: 0;
  }
  /* internally change sytles via ids for each <a> tag  in ads section*/
  #ads:hover #suzuki {
    background-image:url(/assets/ads-pics/suzuki.png);
    background-size: 100% 100% ;
  }
   #ads:hover #makerbot{
    background-image:url(/assets/ads-pics/MakerBot_logo.svg);
    background-size: 100% 100% ;
  }
  #ads:hover #arduino{
    background-image:url(/assets/ads-pics/arduino_logo.png);
    background-size: 100% 100% ;
  }
  #ads:hover #matthews{
    background-image:url(/assets/ads-pics/MakerBot_logo.svg);
    background-size: 100% 100% ;
  }
  #ads:hover #vans{
    background-image:url(/assets/ads-pics/MakerBot_logo.svg);
    background-size: 100% 100% ;
  }
}
/* //////////////////////////////////////// */
